<template name="item">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <img src="{{url}}" class="previewArt" alt="artwork">
      </div>
      <div class="six columns">
        <ul>
          <li>Artwork Name: {{metadata.fileName}}</li>
          <li>Artist: {{metadata.fileArtist}}</li>
          <li>Description: {{metadata.fileDescription}}</li>
          <li>Current Bid: $ {{findTopBid}}</li>
          {{#if currentUser}}
          <li>
            <form class="addBid">
            <span class="currencyinput"> $
              <input type="number" step="0.01" min=0 name="bid" placeholder="Bid amount" />
            </span>
            <input type="hidden" name="artId" value={{_id}} />
            <input type="submit" value="Bid">
            </form>
         </li>
         {{else}}
         <li>
           If you would like to bid, please log in
         </li>
         {{/if}}
        </ul>
      <p>
      {{#each bids}}
        <p>$ {{bid}}</p>
        <p>{{createdAt}}</p>
      {{/each}}
      </p>

      </div>
    </div>
  </div>
</template>